$oneheight:10px;
$onewidth:10px;

body {
    background: #000;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: 2s transform;
}

*,
*::before {
    color: #fff;
    position: absolute;
    height: $oneheight;
    width: $onewidth;
    image-rendering: pixelated;
    font-family: "Arial", "Calibri", sans-serif;
    line-height: 1;
    margin: 0;
    padding:0;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    background-repeat:no-repeat;
}

p.textbox {
    font-size: 6px;
    height: 10px;
    width: auto;
    background: transparent;
    line-height: 10px;
}

.gameframe {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: scale(9);
    transition: .1s linear;

    &.loadframe {
        transform: scale(1);
        zoom: 0;
        transition: 0s;
    }
}


.field {
    background: gray;
    position: absolute;
}

.runner {
    height: $oneheight;
    width: $onewidth;
    z-index: 50;
    background-position: -390px 0;
}

.wall {
    position: absolute;
    background: fuchsia;
    display: inline-block;
    height: $oneheight;
    width: $onewidth;
    background-size: 100% 100%;

    &.black {
        background: #000;
    }
}

.type {
    &1-1 {
        background-position: -30px -70px;
    }
    &1-2 {
        background-position: -40px -70px;
    }
    &1-3 {
        background-position: -50px -70px;
    }
    &1-4 {
        background-position: -50px -80px;
    }
    &1-5 {
        background-position: -50px -90px;
    }
    &1-6 {
        background-position: -40px -90px;
    }
    &1-7 {
        background-position: -30px -90px;
    }
    &1-8 {
        background-position: -30px -80px;
    }

    &2-1 {
        background-position: -60px -30px;
    }
    &2-2 {
        background-position: -70px -30px;
    }
    &2-3 {
        background-position: -80px -30px;
    }
    &2-4 {
        background-position: -80px -40px;
    }
    &2-5 {
        background-position: -80px -50px;
    }
    &2-6 {
        background-position: -70px -50px;
    }
    &2-7 {
        background-position: -60px -50px;
    }
    &2-8 {
        background-position: -60px -40px;
    }
    &2-9 {
        background-position: -90px -40px;
    }
    &2-10 {
        background-position: -100px -40px;
    }
    &2-11 {
        background-position: -100px -50px;
    }
    &2-12 {
        background-position: -90px -50px;
    }
    &2-13 {
        background-position: -90px -30px;
    }
    &2-14 {
        background-position: -100px -30px;
    }
    &2-15 {
        background-position: -110px -30px;
    }
    &2-16 {
        background-position: -120px -30px;
    }
    &2-17 {
        background-position: -130px -30px;
    }
    &2-18 {
        background-position: -110px -40px;
    }
    &2-19 {
        background-position: -70px -60px;
    }
    &2-20 {
        background-position: -80px -60px;
    }
    &2-21 {
        background-position: -90px -60px;
    }
    &2-22 {
        background-position: -100px -60px;
    }
    &2-23 {
        background-position: -90px -70px;
    }
    &2-24 {
        background-position: -100px -70px;
    }
    &2-25 {
        background-position: -90px -40px;
    }
    &2-26 {
        background-position: -70px -50px;
    }
    &2-27 {
        background-position: -100px -40px;
    }

    &3-1 {
        background-position: -160px 0;
    }
    &3-2{
        background-position: -170px 0;
    }
    &3-3 {
        background-position: -180px 0;
    }
    &3-4 {
        background-position: -180px -10px;
    }
    &3-5 {
        background-position: -180px -20px;
    }
    &3-6 {
        background-position: -170px -20px;
    }
    &3-7 {
        background-position: -160px -20px;
    }
    &3-8 {
        background-position: -160px -10px;
    }
    &3-9 {
        background-position: -190px 0;
    }
    &3-10 {
        background-position: -200px 0;
    }
    &3-11 {
        background-position: -200px -10px;
    }
    &3-12 {
        background-position: -190px -10px;
    }
    &3-13 {
        background-position: -210px -30px;
    }
}

.button1-1 {
    background-position: -210px 0;
}

.button1-2 {
    background-position: -210px -10px;
}


.inner {
    &1-1 {
        background-position: -30px -40px;
    }
    &1-2 {
        background-position: -30px -50px;
    }
    &1-3 {
        background-position: -30px -60px;
    }
    &1-4 {
        background-position: -40px -60px;
    }
}

.floor {
    &1-1 {
        background-position: -40px -50px;
    }
    &1-2 {
        background-position: -40px -80px;
    }
    &3-1 {
        background-position: -240px 0;
    }
    &3-2 {
        background-position: -240px -10px;
    }
    &3-3 {
        background-position: -240px -20px;
    }
    &3-4 {
        background-position: -240px -30px;
    }
    &3-5 {
        background-position: -190px -30px;
    }
    &3-6 {
        background-position: -240px -40px;
    }
    &3-7 {
        background-position: -240px -50px;
    }
    &3-8 {
        background-position: -240px -60px;
    }
    &3-9 {
        background-position: -240px -70px;
    }
}

.fence1 {
    background-position: -40px -30px;

}

.door1-1 {
    background-position: -170px -10px;
}


.door1-3 {
    background-position: -170px -10px;
    transform:rotate(180deg);
}


.door2-1 {
    background-position: -170px -30px;

}

.door2-2 {
    background-position: -160px -40px;

}


.door2-3 {
    background-position: -170px -40px;
}


.door2-4 {

    background-position: -160px -30px;


}

.pot1-1 {
    background-position: -60px -70px;
}

.chest1-1 {
    background-position: -80px -10px;

}


.lamp1-1 {
    background-position: -220px 0;
    animation-duration: 1.5s;
    z-index:20;
    transform:rotate(0deg);

    animation-name: "lamp1-1-key";
    @keyframes lamp1-1-key {
        0% {
            background-position-y: 0;
        }
        16%, 82% {
            background-position-y: -10px;
        }
        33%, 64% {
            background-position-y: -20px;
        }
        48% {
            background-position-y: -30px;
        }
    }
}

.lamp1-2 {
    background-position: -220px 0;
    animation-duration: 1.5s;
    transform:rotate(90deg);
    z-index:20;
    animation-name: "lamp1-1-key";
}
.lamp1-3 {
    background-position: -220px 0;
    animation-duration: 1.5s;
    transform:rotate(180deg);
    z-index:20;
    animation-name: "lamp1-1-key";
}
.lamp1-4 {
    background-position: -220px 0;
    animation-duration: 1.5s;
    transform:rotate(-90deg);
    z-index:20;
    animation-name: "lamp1-1-key";
}


.fire1-1 {
    background-position: -230px 0;
    animation-duration: .9s;
    z-index:20;
    animation-name: "fire1-1-key";

    @keyframes fire1-1-key {
        0% {
            background-position-y: 0;
        }
        25% {
            background-position-y: -10px;
        }
        50% {
            background-position-y: -20px;
        }
        75% {
            background-position-y: -30px;
        }
    }
}

.devtile {
    background-position:-20px 0;
}


#developer-true {
    @keyframes error1 {
        0% {
            filter:blur(0px);
            outline:.1px solid red;
        }
        60% {
            filter:blur(.2px) brightness(20);
            outline:.1px solid yellow;
        }
    }


    .trigger {
        box-sizing: border-box;
        border: .3px solid blue;
        height: $oneheight;
        width: $onewidth;
        z-index: 999;

        &::before {
            height: 4px;
            width: 3px;
            background: blue;
            position: absolute;
            top: 0;
            left: 0;
            content: "tr";
            font-size: 3px;
            color: #fff;
        }
    }

    p.textbox {
        min-width: $onewidth;
        outline: .3px solid red;
        text-align: right;
        padding-right: .5px;
        box-sizing: border-box;
        z-index: 999;

        &::before {
            height: 4px;
            width: 6px;
            background: red;
            position: absolute;
            top: 0;
            left: 0;
            content: "txt";
            font-size: 3px;
            color: #fff;
        }
    }

    .positionboard {
        top: unset !important;
        left: unset !important;
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 0;
        padding: 10px;
        width: auto;
        background: #000;
    }

    .field {
        * {
            &:hover {
                outline: .3px solid #fff;
                transition: 0s;
                box-sizing: border-box;
                z-index: 999;
            }
            &.enemy:hover {
                outline: .3px solid red;
            }
            &.wall:hover {
                outline: .3px solid purple;
            }
        }
    }

    .oldotherposition {
        background:transparent;
        border:1px solid #000;
        z-index:49;
        transition: .2s;
        height:0;
        width:0;
        margin:4px;
    }

    .slicer-marker {
        &1 {
            background:transparent;
            border:3px solid transparent;
            border-right-color:red;
            z-index:49;
            height:0;
            width:0;
            margin:2px;
        }
        &2 {
            background:transparent;
            border:3px solid transparent;
            border-bottom-color:red;
            z-index:49;
            height:0;
            width:0;
            margin:2px;
        }
        &3 {
            background:transparent;
            border:3px solid transparent;
            border-left-color:red;
            z-index:49;
            height:0;
            width:0;
            margin:2px;
        }
        &4 {
            background:transparent;
            border:3px solid transparent;
            border-top-color:red;
            z-index:49;
            height:0;
            width:0;
            margin:2px;
        }
        &-e {
            background:transparent;
            animation-name: "error1";
        }
    }
}


div[class*="house"],
.path1,
.field *,
.hearts * {
    background-color: transparent;
    background-image: url("img/sprites1.png");
    background-size: 400px;
}

.house {
    &1-1,
    &2-1 {
        background-position: 0 -40px;
    }
    &1-2,
    &2-2,
    &2-3 {
        background-position: -10px -40px;
    }
    &1-3,
    &2-4 {
        background-position: -20px -40px;
    }
    &1-4,
    &2-5 {
        background-position: 0 -50px;
    }
    &1-5,
    &2-6,
    &2-7 {
        background-position: -10px -50px;
    }
    &1-6,
    &2-8 {
        background-position: -20px -50px;
    }
    &2-1,
    &2-2,
    &2-3,
    &2-4,
    &2-5,
    &2-6,
    &2-7,
    &2-8 {
        filter: hue-rotate(190deg);
    }

    &1-7,
    &2-9 {
        background-position: 0 -60px;
    }

    &1-9,
    &2-12,
    &2-10 {
        background-position: -20px -60px;
    }

    &2-10 {
        background-position: -10px -60px;
    }

    &1-8,
    &2-11 {
        background-position: -30px -60px;
    }

    &2-13 {
        background-position: -40px -60px;
    }
}


.path1 {
    background-position: -10px 0;
}

.grass1 {
    background-position: -40px -10px;
}

.grass2,
.grass4,
.grass6,
.grass8 {
    background-position: -30px -20px;
}

.grass3 {
    background-position: -50px -10px;
}

.grass4 {
    transform: rotate(90deg);
}

.grass5 {
    background-position: -50px -20px;
}

.grass6 {
    transform: rotate(180deg);
}


.grass7 {
    background-position: -40px -20px;
}


.grass8 {
    transform: rotate(-90deg)
}

.grass9 {
    background-position: -30px -10px;
}

.grass12 {
    background-position: -70px -20px;

}

.trigger {
    background: transparent;
}

.enemy {
    &.spikes {
        background-position: -370px 0;
    }

    &.slicer {
        background-position: -350px 0;
        transition: .2s linear;
    }

    &.water1 {
        background-position:-110px -50px;
    }
}

.water2 {
    background-position:-110px -70px;
}

.hole {
    background-position: -70px -40px;
}

.slicerbase1 {
    background-position: -350px -10px;
    opacity:.8;
}

.stairs2-1 {
    background-position: -50px -40px;
}

div[class*="npc"] {
    transition:0s;
}

.npc1 {
    background-position: -360px -10px;
    animation-duration: 1s;
    animation-name: "npc1-key";
    @keyframes npc1-key {
        0% {
            background-position-y: -10px;
        }
        50% {
            background-position-y: 0;
        }
    }
}

.spring1 {
    background-position:-190px -40px;
}

.key1 {
    background-size: 320px;
    background-position:-303.75px -32px;
    height: 8px;
    width: 4px;
    background-clip: content-box;
    border-top: 1px solid transparent;
    border-left: 3px solid transparent;
}

.rupee1 {
    background-size: 320px;
    background-position:-303.75px -40px;
    height: 8px;
    width: 4px;
    background-clip: content-box;
    border-top: 1px solid transparent;
    border-left: 3px solid transparent;
}

.hearts {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 50vw;
    background: transparent;
    z-index: 1000;

    .aHeart,
    .halfaHeart {
        position: relative;
        height: 30px;
        width: 30px;
        display: inline-block;
        margin: 5px;
        background-position: -1140px 0;
        background-size: 1200px;

        &.halfaHeart {
            float: right;
            background-position: -1140px -30px;
        }
    }
}